{% extends 'flex/base.html' %}

{% block content %}

  <div class="container">
    <h3>Register</h3>
    <form role="form-horizontal" name="register_form" action='/register/' method="POST">
      {% csrf_token %}
        <div class="form-group col-offset-1 col-12">
          {{ register_form.as_p }}
        </div>
      </div>
      <div id="update-submit" class="form-group">
      <button type="submit" class="btn btn-default" >Submit</button>
      </div>
    </form>
    <p>      
      {% if registration_error %}
        {{ registration_error }}
      {% endif %}
    </p>
  </div>
{% endblock %}

